body {
    background-color: burlywood;
    font-family: 'Playfair Display', serif;

}

nav {
    opacity: 0.8;
}

.navbar-dark {
    background-color: rgba(115, 51, 13, 0.584);
}

.thumbnail:hover {
    opacity: 0.75;
}

.thumbnail {
    width: 13rem;
    height: 12rem;
}

.thumbnail-checkout {
    width: 6rem;
    height: 6rem;
}

.btn-outline-success {
    background-color: brown;
    color: beige;
    border: none;
}

.btn-outline-success:hover {
    background-color: darksalmon;
    color: rgb(88, 44, 13);
}

.order-summary {
    background-color: rgb(214, 122, 89);
    opacity: 0.4;
    color: black;

}