{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% block content %}


    <h1 class="text-center"> Dashboard</h1>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-7 text-center">
            <h1 class="text-center">Customers</h1>
            <a class="btn btn-primary" href="#">Create New Customer</a>
            <table class="table">
                <tr>
                    <th>Customer name</th>
                    <th>Customer phone</th>
                </tr>
                {% for customer in customers_ %}

                <tr>
                    <td> <a class="btn btn-success" href="{% url 'customer_' customer.id %}">View Customer</a></td>
                    <td> {{customer_.name}}</td>
                    <td> {{customer_.phone}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-3"></div>

    </div>
    <div class="text-center">{% include  'testcrudapp/status.html' %}</div>
    <div class="row">
        <div class="col-md-3"></div>

        <div class="card card-body col-md-7 text-center">
            <h1>Last 5 orders</h1>
            <a href="#" class="btn btn-primary">Create New order</a>
            <table class="table table-sm">
                <h1 class="text-center">Orders</h1>
                <tr>
                    <th>Products</th>
                    <th>Date ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
                {% for order in ordering %}
                <tr>
                    <td> {{order.product}}</td>
                    <td> {{order.date_created}}</td>
                    <td> {{order.status}}</td>
                    <td><a href="#" class="btn btn-primary">Update</a></td>
                    <td><a href="#" class="btn btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-3"></div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% endblock %}



</body>

</html>