{% extends 'base.html' %}
{% block content %}



<br>
<br>
<br>
<div class="row">
    <div class="card card-body">
        Products
    </div>
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
            </tr>

            <tr>
                {% for i in product_items %}
                <td>
                    {{i.name}}
                    {{i.category}}
                    {{i.price}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
{% include  'testcrudapp/status.html' %}