<div class="row">
    <div class="col">
        <div class="card-header">
            <div class="card-title">Total orders</div>
        </div>
        <div class="card-body">
            <div class="card-title">{{total_orders}}</div>
        </div>
    </div>
    <div class="col">
        <div class="card-header">
            <div class="card-title">Orders Delivered</div>
        </div>
        <div class="card-body">
            <div class="card-title">{{delivered_o}}</div>
        </div>
    </div>
    <div class="col">
        <div class="card-header">
            <div class="card-title">Orders Pending</div>
        </div>
        <div class="card-body">
            <div class="card-title">{{pending_o}}</div>
        </div>
    </div>



</div>